body {
      background: url(/images/background.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

// page-opacity

.content-wrap {
  opacity: 0.85;
}

.sidebar {
  opacity: 0.85;
}

.header-inner {
  background: rgba(255,255,255,0.85);
}

.popup {
  opacity: 0.9;
}

// inline code
p code {
    color: #FF00FF;
    background: #FFFAF0;
    margin: 2px;
    border: 1px solid #d6d6d6;
}

// 鼠标样式
  * {
      cursor: url("/images/mouse/a4b07-j6o60-001.ico"),auto!important
  }
  :active {
      cursor: url("/images/mouse/a4b07-j6o60-001.ico"),auto!important
  }

// 图标颜色大小
.fa{
  font-size: 14px;
}
// 菜单栏
.fa-home{
  color: #e74c3c;
  font-size: 15px;
}
.fa-archive{
  color: #1abc9c;
}
.fa-tags{
  color: orange;
}
.fa-chalkboard{
  color: #3498db;
}
.fa-link{
  color: #FC427B;
}
.fa-user{
  color: #9b59b6;
}
.fa-camera{
  color: #1abc9c;
}
.fa-envelope{
  color: #FC427B;
}
.fa-zhihu{
  color: blue;
}

// 文章
.fa-calendar-check{
  color: red;
}
.fa-eye{
  color: #70a1ff;
}
.fa-comment{
  color: #2ed573;
}
.fa-comments{
  color: #2ed573;
}
.fa-file-word{
  color: #273c75;
}
.fa-clock{
  color: #ff5252;
}
.fa-image{
  color: #FC427B;
}
.fa-sun{
  color: orange;
}
.fa-bookmark{
  color: #00FFFF;
}
.fa-book{
  color: #1abc9c;
}
.fa-images{
  color: #FF00FF;
}
.fa-windows{
  color: #e74c3c;
}
.fa-chrome{
  color: orange;
}
.fa-desktop{
  color: #3498db;
}
.fa-tools{
  color: #00FFFF;
}
.fa-python{
  color: #3498db;
}

// mermaid 图居中
.mermaid{
  text-align: center;
  max-height: 300px;
}
